<section class="section-advantages">
  <div class="container container-advantages">
    <h2 class="visually-hidden ">Hiding heading text</h2>
    <div class="section-advantages-wrapper">
      <ol class="section-advantages-list">
        <li class="section-advantages-list-item">
          <p class="section-advantages-list-number">01</p>
          <hr class="section-advantages-line" />
          <p class="section-advantages-list-item-text">
            Swimming and water sports: try your hand at water skiing
          </p>
        </li>
        <li class="section-advantages-list-item">
          <p class="section-advantages-list-number">02</p>
          <hr class="section-advantages-line" />
          <p class="section-advantages-list-item-text">
            Fishing: try to catch your own dinner
          </p>
        </li>
        <li class="section-advantages-list-item">
          <p class="section-advantages-list-number">03</p>
          <hr class="section-advantages-line" />
          <p class="section-advantages-list-item-text">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water
          </p>
        </li>
        <li class="section-advantages-list-item">
          <p class="section-advantages-list-number">04</p>
          <hr class="section-advantages-line" />
          <p class="section-advantages-list-item-text">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ol>
    </div>
    <div class="section-advantages-photo-wrapper">
        <picture>
          <source srcset="/img/advantages-deskbig.jpg 1x, /img/advantages-deskbig@2x.jpg 2x" media="(min-width: 1440px)">
          <source srcset="/img/advantages-desk.jpg 1x, /img/advantages-desk@2x.jpg 2x" media="(min-width: 1280px)">
          <source srcset="/img/advantages-tab.jpg 1x, /img/advantages-tab@2x.jpg 2x" media="(min-width: 768px)">
           <source srcset="/img/advantages-mob.jpg 1x, /img/advantages-mob@2x.jpg 2x" media="(max-width: 767px)">
          <img src="/src/img/advantages-mob.jpg" alt="photo-yachtcab" />
        </picture>
    </div>
  </div>
</section>
