<footer class="f-container">
  <div class="container f-wrap">
    <div class="f-wrap-logo">
      <div class="f-logo-list">
        <div class="wrapper">
          <a class="f-logo" href="">yachtjet</a></div>

          
        <nav>    
          <ul class="f-list">
            <li class="f-item"><a class="f-link" href="#about">About</a></li>
            <li class="f-item"><a class="f-link" href="#yachts">Yachts</a></li>
            <li class="f-item"><a class="f-link" href="#reviews">Reviews</a></li>
          </ul>
        </nav>
        </div> 


        <address> 
          <ul class="social-icon">
            <li>
              <a class="social-icon-link" href="https://www.instagram.com/goitclub/" target="_blank">
                <svg class="social-icon-item" width="24" height="24">
                  <use href="/img/icons.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-icon-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                <svg class="social-icon-item" width="24" height="24">
                  <use href="/img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-icon-link" href="https://www.facebook.com/goITclub/  " target="_blank">
                <svg class="social-icon-item" width="24" height="24">
                  <use href="/img/icons.svg#icon-fb"></use>
                </svg>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <h2 class="f-title">
        No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </h2>
        <div class="f-items">
          <p class="adv-privacy advent">2023. Yacht Adventures</p>
          <p class="adv-privacy privacy">Privacy Police</p>
        </div>
  </div>
  
</footer>

