<div class="mobile-menu">
  <div class="mobile-menu-container">
    <div class="mobile-menu-header-container">
      <a class="mob-menu-logo-header" href="./index.html">yachtjet</a>
      <button class="mob-menu-close" type="button">
        <svg class="mob-menu-icon-close" width="16" height="16">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav-list">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-btn" href="#about">About</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-btn" href="#yachts">Yachts</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-btn" href="#reviews">Reviews</a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-btn" href="#" data-modal-open>Order Service</a>
        </li>
      </ul>
    </nav>
    <address class="mobile-menu-address">
      <ul class="mob-menu-social">
        <li>
          <a
            class="mob-menu-link-social"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="icon-svg-mob-menu" width="19" height="19">
              <use href="/img/icons.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="mob-menu-link-social"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="icon-svg-mob-menu" width="20" height="20">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="mob-menu-link-social"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="icon-svg-mob-menu" width="20" height="20">
              <use href="/img/icons.svg#icon-fb"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
  </div>
</div>
