<section class="our-yachts" id="yachts">
  <div class="container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/desk-first-yacht.jpg    1x,
              /img/our-yachts/desk-first-yacht@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              /img/our-yachts/desk2-first-yacht.jpg    1x,
              /img/our-yachts/desk2-first-yacht@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/our-yachts/tablet-first-yacht.jpg    1x,
              /img/our-yachts/tablet-first-yacht@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /img/our-yachts/mob-first-yacht.jpg    1x,
              /img/our-yachts/mob-first-yacht@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="yacht-image"
            src="/img/our-yachts/mob-first-yacht.jpg"
            alt="First yacht for rent"
          />
        </picture>
        <div class="yacht-name">
          <p class="yacht-name-p">arrow</p>
          <p class="yacht-name-desc">luxury yahts</p>
        </div>
        <div class="yacht-info">
          <ul class="yacht-details">
            <li class="yacht-parameter">
              <p class="yacht-detail-label">length</p>
              <p class="yacht-detail-label">builder</p>
              <p class="yacht-detail-label">built</p>
              <p class="yacht-detail-label">guests</p>
              <p class="yacht-detail-label">price</p>
            </li>
            <li class="yacht-parameter-value">
              <p class="yacht-detail-value">48m(155ft)</p>
              <p class="yacht-detail-value">Admiral</p>
              <p class="yacht-detail-value">2021</p>
              <p class="yacht-detail-value">11 in 5 cabins</p>
              <p class="yacht-detail-value">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>

      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/desk-second-yacht.jpg    1x,
              /img/our-yachts/desk-second-yacht@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              /img/our-yachts/desk2-second-yacht.jpg    1x,
              /img/our-yachts/desk2-second-yacht@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              /img/our-yachts/tablet-second-yacht.jpg    1x,
              /img/our-yachts/tablet-second-yacht@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="yacht-image"
            src="/img/our-yachts/tablet-second-yacht.jpg"
            alt="Second yacht for rent"
          />
        </picture>
        <div class="yacht-name">
          <p class="yacht-name-p">benetti oasis 40m bo122</p>
          <p class="yacht-name-desc">luxury yahts</p>
        </div>
        <div class="yacht-info">
          <ul class="yacht-details">
            <li class="yacht-parameter">
              <p class="yacht-detail-label">length</p>
              <p class="yacht-detail-label">shipyard</p>
              <p class="yacht-detail-label">built</p>
              <p class="yacht-detail-label">guests</p>
              <p class="yacht-detail-label">price</p>
            </li>
            <li class="yacht-parameter-value">
              <p class="yacht-detail-value">41m (133ft)</p>
              <p class="yacht-detail-value">Benetti</p>
              <p class="yacht-detail-value">2025</p>
              <p class="yacht-detail-value">10 in 5 cabins</p>
              <p class="yacht-detail-value">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>

      <li class="our-yachts-item">
        <picture>
          <source
            srcset="
              /img/our-yachts/desk-third-yacht.jpg    1x,
              /img/our-yachts/desk-third-yacht@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              /img/our-yachts/desk2-third-yacht.jpg    1x,
              /img/our-yachts/desk2-third-yacht@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="yacht-image"
            src="/img/our-yachts/desk2-third-yacht.jpg"
            alt="Third yacht for rent"
          />
        </picture>
        <div class="yacht-name">
          <p class="yacht-name-p">belle anna</p>
          <p class="yacht-name-desc">luxury yahts</p>
        </div>
        <div class="yacht-info">
          <ul class="yacht-details">
            <li class="yacht-parameter">
              <p class="yacht-detail-label">length</p>
              <p class="yacht-detail-label">shipyard</p>
              <p class="yacht-detail-label">built</p>
              <p class="yacht-detail-label">guests</p>
              <p class="yacht-detail-label">price</p>
            </li>
            <li class="yacht-parameter-value">
              <p class="yacht-detail-value">50m(155ft)</p>
              <p class="yacht-detail-value">ISA</p>
              <p class="yacht-detail-value">2012</p>
              <p class="yacht-detail-value">12 in 6 cabins</p>
              <p class="yacht-detail-value">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <a href="#form" class="rent-yacht-button">Yacht rental</a>
  </div>
</section>
