<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <div class="reviews-wrapper">
      <button class="scroll-left" id="scrollLeft">&#10094;</button>
      <div class="reviews-container-scroll">
        <ul class="reviews-list">
          <li class="reviews-list-item">
            <img
              class="reviews-author-img"
              src="/img/john.jpg"
              srcset="/img/john.jpg 1x, /img/john@2x.jpg 2x"
              alt="john"
              width="56"
              height="56"
            />
            <h3 class="reviews-author">John Wax</h3>
            <p class="reviews-comment">
              I rented the Lagoon 620 with my family for a week-long vacation
              and it was the best decision ever. The yacht was spacious,
              comfortable, and luxurious, and the crew took care of everything.
            </p>
          </li>
          <li class="reviews-list-item">
            <img
              class="reviews-author-img"
              src="/img/viktoria.jpg"
              srcset="/img/viktoria.jpg 1x, /img/viktoria@2x.jpg 2x"
              alt="viktoria"
              width="56"
              height="56"
            />
            <h3 class="reviews-author">Victoria Romashenko</h3>
            <p class="reviews-comment">
              The Sunseeker Manhattan 66 was the perfect choice for our romantic
              getaway. The yacht was beautifully designed, with all the
              amenities we needed, and the crew was attentive and friendly.
            </p>
          </li>
          <li class="reviews-list-item">
            <img
              class="reviews-author-img"
              src="/img/ihor.jpg"
              srcset="/img/ihor.jpg 1x, /img/ihor@2x.jpg 2x"
              alt="ihor"
              width="56"
              height="56"
            />
            <h3 class="reviews-author">Ihor Trachuk</h3>
            <p class="reviews-comment">
              The Azimut 80 was the most luxurious yacht I've ever been on. The
              cabins were spacious and elegant, and the outdoor areas were
              perfect for relaxing and entertaining. Worth every penny!
            </p>
          </li>
        </ul>
      </div>
      <button class="scroll-right" id="scrollRight">&#10095;</button>
    </div>
  </div>
</section>
